---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;


.traits {
    display: inline-block;
    float: right;
    margin-left: 20px;

    img {
        cursor: help;
        margin-right: 5px;
        width: 25px;

        &:last-child {
            margin-right: 0px;
        }
    }
}
